body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0%;
    background-color: aliceblue;
}
h1 {
    color: black;
    text-align: center;
    text-transform: capitalize;
line-height: 1.5%;
}

h2 {
    color: #333;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5%;
}
h3 {
    line-height: 1.5%;
    color: red;
}

p {
    text-align: justify;
    text-justify: auto;
    line-height: 1rem;
}

.dream {
    max-width: 500px;
    margin:  2rem auto;
    padding: 2rem; 
    background-color: lawngreen;
    border-radius: 30px;
}

footer {
    text-align: end;
    font-style: italic;
    font-weight: 400;
    color: red;
}

img {
    margin: 0%;
    background-origin: inherit;
    border: 2px;
    border-radius: 50%;
    outline: 2px solid #333 ;
    outline-offset: 0.25rem;
}